header {
	background: #e0e0e0;
	margin-bottom: 20px;
}

nav {
	display: flex;
	justify-content: space-evenly;
}

#testparagraph {
	margin: 10px 5px;
	
	padding: 5px;
	padding-left: 50px;
	
	
	border: 1px;
	border-top-style: solid;
	border-bottom-style: dashed;
	border-bottom-width: 5px;
	border-color: black;
}

@media (width <= 600px) {
	nav {
		flex-direction: column;
		text-align: center;
	}
}

@media (600px < width < 1000px) {
}

@media (width >= 1000px) {
}