body {
  font-family: Arial, sans-serif;
  background-color: #fbe7e9;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: #fef8f9;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 0 10px;
}

.input-section {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e7eb;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
  background-color: #d1d5db;
}

.task-buttons button {
  margin-left: 5px;
}
